.page-home {
 	.failure{
 		display:block;
		margin:120px auto 0;
		text-align:center;
 	}
 	ion-img{
 		background:#fff;
 	}
	.backBtn{
		background: url(../assets/img/backButton.png) no-repeat 0 0;
	    background-size: contain;
	    width: 88%;
	    position: absolute;
	    bottom: 0;
	    left: 6%;
	    margin: 0;
	    padding: 0;
	}
}
